{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body{
            text-align: justify;
            font-size: 1.2em;
            color: black;
        }
        h1, h2, h3{
            text-align: center;
        }
        .negrito{
            font-weight: bold;
        }
        .signature-container {
            width: 50%;
            margin: 0 auto; /* Center the container */
        }

        .signature-line {
            border-bottom: 2px solid #000; /* Black solid line */
            margin-top: 20px; /* Adjust the margin as needed */
            padding-bottom: 10px; /* Adjust the padding as needed */
        }

        .signature-label {
            margin-top: 5px; /* Adjust the margin as needed */
        }

        @media print {
            .signature-line {
                border-bottom: 1px solid #000; /* Adjust the line thickness for printing */
                margin-top: 10px; /* Adjust the margin for printing */
                padding-bottom: 5px; /* Adjust the padding for printing */
            }
        }
    </style>
    <h2>Recibo de entrega do vale transporte</h2>
    <h3>{{ vale_transporte.mes}}/{{ vale_transporte.ano}}</h3>
    {%  set valorTotal = (vale_transporte.custoDiarioPassagem/100) * vale_transporte.quantidadeDias %}
    <p>
        Eu, <span class="negrito">{{ funcionario.nome }}</span>, declaro ter recebido do Sr(a), <span class="negrito">{{ empregador.nome }}</span>,
        o valor de <span class="negrito">R$ {{ valorTotal|number_format(2, ',','.') }} ({{ valorTotal|numeroPorExtenso }})</span>. Considerando-se o valor diário de passagem de
        <span class="negrito">R$ {{ (vale_transporte.custoDiarioPassagem/100)|number_format(2, ',','.') }} ({{ (vale_transporte.custoDiarioPassagem/100)|numeroPorExtenso }})</span> e <span class="negrito">
            {{ vale_transporte.quantidadeDias }} dias a serem trabalhados</span>. Referentes ao mês de <span class="negrito">{{ attribute(meses, vale_transporte.mes) }} de {{ vale_transporte.ano }}.
        </span>
    </p>
    <br />
    <br />
    <br />
    <div class="signature-container">

        <div class="signature-line"></div>
        <div class="signature-label">{{ funcionario.nome}}</div>
    </div>
    <br />
    <p>
        Brasília, {{ "now"|date("d") }} de {{ "now"|date("F")|trans({}, 'messages', 'pt_BR') }} de {{ "now"|date("Y") }}
    </p>
{% endblock %}

{% block title %}
Visualizar Vale Transporte
{% endblock %}

